.form {

  &__section {
    background-color: #3734A9;
    margin-top: 100px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;

      &:first-child {
        top: 238px;
      }

      &:nth-child(2) {
        top: 10px;
        left: 45%;
      }

      &:nth-child(3) {
        right: 0;
        top: -110px;
      }
    }
  }

  &__row {
    max-width: 1089px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 74px 0;
    gap: 50px;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
    }
  }

  &__text {
    color: white;
    flex: 0 1 483px;

    h5 {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
    }

    h1 {
      margin: 15px 0 29px 0;
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -0.03em;
      
      @media (max-width: $breakpoint480) {
        font-size: 40px;
      }
    }

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.02em;
    }
  }

}