.reasons {

  &__section {
    margin-top: 120px;
  }

  &__block {
    background-color: #3734A9;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 8px 101px 10px 101px;
    border-radius: 10px;
    max-width: 549px;
    margin: 33px auto;

    @media (max-width: 411px) {
      padding: 8px 10px 10px 10px;
    }
  }

  &__row {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    gap: 85px;

    @media (max-width: $breakpoint768) {
      gap: 30px;
    }

    @media (max-width: 663px) {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }

  &__item {
    flex: 0 1 280px;
    height: 228px;
    position: relative;

    @media (max-width: 663px) {
      width: 300px;
    }

    img {
      &:nth-child(2) {
        position: absolute;
        right: 0;
      }
    }

    h3 {
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: -0.03em;
      color: #000000;
      margin-top: 25px;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #757095;
    }
  }

  &__bottom-block {
    margin: 114px auto 0 auto;
    background: #F8F9FD;
    border-radius: 10px;
    display: flex;
    padding: 38px 72px 46px 72px;
    justify-content: space-between;
    align-items: center;
    max-width: 1044px;
    gap: 35px;
    
    @media (max-width: 663px) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin-top: 60px;
      padding: 10px 20px 10px 20px;
    }

    h1 {
      flex: 0 1 561px;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 56px;
      letter-spacing: -0.03em;
      color: #000000;
      
      @media (max-width: $breakpoint480) {
        font-size: 30px;
        line-height: 45px;
      }
    }

    a {
      background: #4F46BA;
      border-radius: 10px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      padding: 21px 44px 19px 44px;
      color: #FFFFFF;
      white-space: nowrap;
      transition: all .44s ease;

      &:hover {
        background-color: #483bfa;
      }
    }
  }


}